@charset "utf-8";

@media all and (max-width:1200px){

    #main #section1 .content ul li { float:none; width:100%; }
    #main #section1 .content ul li:last-child { display:none; }
    #main #section1 .content ul li:first-child > div { padding:0 10%; }

}

@media all and (max-width:960px){

    #main #section2,
    #main #section3,
    #main #section4,
    #footer { padding:50px 0; }

    #main #section3 .title { text-align:center; padding-bottom:5%; }
    #main #section3 .content div p { font-size:14px; line-height:180%; }

}

@media all and (max-width:350px){
    
    #main #section1 .content ul li > div .text_wrap .text p { font-size:38px; }

}