@charset "utf-8";
@import url('reset.css');
@import url('fonts.css');

body { background:#141414;}


/*/////////////*/
/*/   제네시스   /*/
/*////////////*/

/* 자세히 보기 공용 버튼 */
.viewBtn-wrap { width:100%; }
.viewBtn-wrap a { font-size:16px; border-bottom:1px solid rgba(255,255,255, .5); padding-bottom:10px; transition:all .6s; }
.viewBtn-wrap a:hover { border-bottom:1px solid #cd9a81; }




#wrap { width:100%; }



#header { z-index:3; position:fixed; top:0; width:100%; }
#header .header-wrap { position:relative; width:100%; max-width:1903px; height:100px; background:#000; margin:0 auto; }
#header .header-wrap > div { padding:0 140px; }
                    
#header .header-wrap > div .header-left { float:left; width:230px; height:100%; }
#header .header-wrap > div .header-left h1 { padding-top:30px; }
#header .header-wrap > div .header-left h1 a { display:inline-block; }
#header .header-wrap > div .header-left h1 a img { width:180px; }
                    
#header .header-wrap > div .header-center { opacity:0; float:left; width:1333.38px; height:100%; }
#header .header-wrap > div .header-center nav { width:100%; height:100%; }
#header .header-wrap > div .header-center nav > ul { display:inline-block; margin:43.5px 0; }
#header .header-wrap > div .header-center nav > ul > li { display:inline-block; }
#header .header-wrap > div .header-center nav > ul > li > a.mainBtn { font-size:13px; font-weight:bold; padding-right:90px; letter-spacing:1px; background:url(../img/navbtn_off.png) no-repeat 55% 50%; transition:all 0.2s; }
#header .header-wrap > div .header-center nav > ul > li > a.mainBtn:hover { color:#cd9a81; background-image:url(../img/navbtn_on.png); }
#header .header-wrap > div .header-center nav > ul > li > a.mainBtn.addMainBtn { color:#cd9a81; background-image:url(../img/navbtn_on.png); }
#header .header-wrap > div .header-center nav > ul > li > a span { padding-left:10px; }
#header .header-wrap > div .header-center nav > ul > li > a span img { width:auto; }
                    
#header .header-wrap > div .header-center nav ul .sub { display:none; z-index:2; position:absolute; top:100px; left:0; width:1903px; height:auto; padding-bottom:80px; margin:0 auto; background:rgba(0,0,0, .9); }
#header .header-wrap > div .header-center nav ul .sub .sub-wrap { width:1623px; height:auto; padding-top:20px; margin:0 auto; }
#header .header-wrap > div .header-center nav ul .sub .sub-wrap ul { float:left; margin-right:30px; width:315px; padding-bottom:30px; border-bottom:1px solid #333; }
#header .header-wrap > div .header-center nav ul .sub .sub-wrap ul > li { width:100%; }
#header .header-wrap > div .header-center nav ul .sub .sub-wrap ul > li > a { font-size:18px; padding-bottom:40px; transition:all 0.6s; }
#header .header-wrap > div .header-center nav ul .sub .sub-wrap ul > li > a:hover { color:#cd9a81; }

#header .header-wrap > div .header-center nav ul .sub0 { display:none; z-index:2; position:absolute; top:100px; left:0; width:1903px; padding-bottom:80px; margin:0 auto; background:rgba(0,0,0, 1); }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap { width:1623px; height:auto; padding-top:20px; margin:0 auto; }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap { width:100%; }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul { width:100%; }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li { float:left; width:25%; }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div { position:relative; margin-right:30px; }

#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-car-contents { z-index:2; position:relative; padding-top:20px; }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-car-contents:hover { background:rgba(255,255,255, .09); }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-car-contents .sub-car-title-wrap { padding:0 20px; margin-bottom:10px; }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-car-contents .sub-car-title-wrap .sub-car-title1 { width:100%; }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-car-contents .sub-car-title-wrap .sub-car-title1 h3 { font-size:20px; color:#cd9a81; }

#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-car-contents .sub-car-title-wrap .sub-car-title2 { width:100%; }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-car-contents .sub-car-title-wrap .sub-car-title2 h2 { font-size:32px; color:#cd9a81; }

#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-car-contents .sub-car-img { padding:40px 20px; border-bottom:1px solid rgba(255,255,255, .2); }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-car-contents .sub-car-img img { margin:0 35.875px; }

#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-car-contents .sub-viewBtn-wrap { padding:30px 67.865px; }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-car-contents .sub-viewBtn-wrap a { opacity:0; padding:19px 81.204px; border:1px solid #707070; background:#fff; font-size:16px; color:#000; letter-spacing:1px; transition:all 0.6s; }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-car-contents .sub-viewBtn-wrap a:hover { background:#000; color:#fff; }

#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-border-wrap { z-index:1; position:absolute; top:0; left:0; width:100%; height:100%; }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-border-wrap i.subborder { position:absolute; }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-border-wrap i.subborder0 { top:0; right:0; width:100%; height:1px; background:#707070; }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-border-wrap i.subborder1 { top:0; left:0; width:1px; height:100%; background:#707070; }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-border-wrap i.subborder2 { bottom:0; left:0; width:100%; height:1px; background:#707070; }
#header .header-wrap > div .header-center nav ul .sub0 .sub-wrap .sub-car-wrap ul li > div .sub-border-wrap i.subborder3 { bottom:0; right:0; width:1px; height:100%; background:#707070; }

                    
#header .header-wrap > div .header-right { float:left; width:59.61px; height:100%; }
#header .header-wrap > div .header-right aside { width:100%; height:100%; }
#header .header-wrap > div .header-right aside span { display:inline-block; margin-top:43px; text-align:center; }
#header .header-wrap > div .header-right aside span a { display:block; font-size:14px; letter-spacing:1px; }
#header .header-wrap > div .header-right aside span a:hover { color:#cd9a81; }



#main { margin-top:100px; z-index:1; position:relative; width:100%; }

#main #section1 { width:100%; }
#main #section1 .section1-wrap { position:relative; top:0; width:100%; max-width:1903px; height:900px; margin:0 auto; }
#main #section1 .section1-wrap .section1-container { position:relative; width:1903px; height:900px; }
#main #section1 .section1-wrap .section1-container .section1-img { opacity:0; width:1903px; height:900px; z-index:2; position:absolute; background:url(../subimg/Genesis_KR_Concept_Vehicles_Header_C60_2880x14403.jpg) no-repeat 50% 50%; background-size:cover; transform:scale(1.5); transition:all 2s; }

#main #section1 .section1-wrap .section1-container .section1-line { opacity:0; z-index:2; position:absolute; top:0; left:0; margin-left:80px; width:1741px; height:899px; border:1px solid #a36b4f; border-top:0; }

#main #section1 .section1-wrap .section1-container .section1-title { z-index:2; position:absolute; top:50%; left:0; margin-left:140px; margin-top:-100px;  }
#main #section1 .section1-wrap .section1-container .section1-title .section1-title-row1 { margin-bottom:60px; }
#main #section1 .section1-wrap .section1-container .section1-title .section1-title-row1 h2 { opacity:0; position:relative; bottom:-90px; font-size:90px; line-height:110px; }
#main #section1 .section1-wrap .section1-container .section1-title .section1-title-row2 { width:100%; }
#main #section1 .section1-wrap .section1-container .section1-title .section1-title-row2 p { opacity:0; position:relative; bottom:-100px; font-size:16px; }


#main #section2 { width:100%; }
#main #section2 .section2-wrap { width:100%; max-width:1903px; height:32px; padding:30px 0; margin:0 auto; background:#141414; }

#main #section2 .section2-wrap .s2-bottomBtn-wrap { position:relative; width:32px; height:32px; margin:0 935.5px; }

#main #section2 .section2-wrap .s2-bottomBtn-wrap .s2-bottomBtn1 { position:absolute; top:0; width:32px; height:32px; }
#main #section2 .section2-wrap .s2-bottomBtn-wrap .s2-bottomBtn1 a { position:relative; width:32px; height:32px; }
#main #section2 .section2-wrap .s2-bottomBtn-wrap .s2-bottomBtn1 a i { position:absolute; margin-left:7px; margin-top:4px; width:14px; height:14px; border-bottom:2px solid #fff; border-right:2px solid #fff; transform:rotate(45deg); }
                              
#main #section2 .section2-wrap .s2-bottomBtn-wrap .s2-bottomBtn2 { opacity:0; position:absolute; top:-50%; width:32px; height:32px; }
#main #section2 .section2-wrap .s2-bottomBtn-wrap .s2-bottomBtn2 a { position:relative; width:32px; height:32px; }
#main #section2 .section2-wrap .s2-bottomBtn-wrap .s2-bottomBtn2 a i { position:absolute; margin-left:7px; margin-top:4px; width:14px; height:14px; border-bottom:2px solid #fff; border-right:2px solid #fff; transform:rotate(45deg); }



#main #section3 { width:100%; height:auto; background:#141414; }
#main #section3 .section3-wrap { position:relative; width:100%; max-width:1903px; height:1054px; margin:0 auto; }
#main #section3 .section3-wrap .s3-bg { opacity:0; z-index:1; position:absolute; bottom:0; right:-60px; }
#main #section3 .section3-wrap .s3-bg img{ width:950px; }

#main #section3 .section3-wrap .s3-img-wrap { z-index:2; position:absolute; top:0; width:100%; }
#main #section3 .section3-wrap .s3-img-wrap .s3-row1 { opacity:0; position:relative; bottom:-100px; margin-top:60px; padding:0 140px; text-align:right; }
#main #section3 .section3-wrap .s3-img-wrap .s3-row1 img { width:375px; }

#main #section3 .section3-wrap .s3-img-wrap .s3-row2 { opacity:0; position:relative; bottom:-100px; padding:0 140px; }
#main #section3 .section3-wrap .s3-img-wrap .s3-row2 img { width:652px; }

#main #section3 .section3-wrap .s3-title-wrap { z-index:3; position:absolute; bottom:0; width:100%; height:100%; }
#main #section3 .section3-wrap .s3-title-wrap > div  { margin:250px 400px; }
#main #section3 .section3-wrap .s3-title-wrap > div h2 { opacity:0; position:relative; bottom:-30px; font-size:20px; margin-bottom:40px; }
#main #section3 .section3-wrap .s3-title-wrap > div p { opacity:0; position:relative; bottom:-100px; font-size:46px; line-height:70px; }


#main #section4 { width:100%; }
#main #section4 .section4-wrap { width:100%; max-width:1903px; height:930px; margin:0 auto; }
#main #section4 .section4-wrap > div { margin:100px 0; }
#main #section4 .section4-wrap > div .s4-left { float:left; width:65%; height:848px; }
#main #section4 .section4-wrap > div .s4-left .s4-img-wrap { position:relative; width:100%; height:100%; }
#main #section4 .section4-wrap > div .s4-left .s4-img-wrap .s4-img-back { z-index:1; position:absolute; bottom:0; margin-bottom:374px; }
#main #section4 .section4-wrap > div .s4-left .s4-img-wrap .s4-img-back img { opacity:0; position:relative; bottom:-50px; width:780px; }
#main #section4 .section4-wrap > div .s4-left .s4-img-wrap .s4-img-front { z-index:2; position:absolute; bottom:0;  }
#main #section4 .section4-wrap > div .s4-left .s4-img-wrap .s4-img-front img { opacity:0; position:relative; bottom:-100px; width:100%; }

#main #section4 .section4-wrap > div .s4-right { float:left; width:35%; height:848px; }
#main #section4 .section4-wrap > div .s4-right .s4-title-wrap { margin:80px 10px; }
#main #section4 .section4-wrap > div .s4-right .s4-title-wrap .s4-title1 { margin-bottom:140px; }
#main #section4 .section4-wrap > div .s4-right .s4-title-wrap .s4-title1 h2 { opacity:0; position:relative; bottom:-30px; font-size:16px; font-weight:bold; letter-spacing:1px; }

#main #section4 .section4-wrap > div .s4-right .s4-title-wrap .s4-title2 { opacity:0; position:relative; bottom:-50px; }
#main #section4 .section4-wrap > div .s4-right .s4-title-wrap .s4-title2 h3 { font-size:36px; color:#cd9a81; line-height:45px; }

#main #section4 .section4-wrap > div .s4-right .s4-title-wrap .s4-title3 { margin:30px 0; }
#main #section4 .section4-wrap > div .s4-right .s4-title-wrap .s4-title3 p { opacity:0; position:relative; bottom:-50px; font-size:18px; line-height:25px; }

#main #section4 .section4-wrap > div .s4-right .s4-title-wrap .s4Btn { opacity:0; position:relative; bottom:-50px; width:100%; padding-top:120px; }
#main #section4 .section4-wrap > div .s4-right .s4-title-wrap .s4Btn a { padding:20px 50px; font-size:15px; font-weight:bold; border:1px solid #6f6f6f; background:#282828; letter-spacing:1px; transition:all .6s; }
#main #section4 .section4-wrap > div .s4-right .s4-title-wrap .s4Btn a:hover { background:#6f6f6f; }

																	 
#main #section5 { width:100%; }
#main #section5 .section5-wrap { width:100%; max-width:1903px; height:930px; margin:0 auto; }
#main #section5 .section5-wrap > div { margin:100px 0; }
#main #section5 .section5-wrap > div .s5-left { float:left; width:45%; height:848px; }
#main #section5 .section5-wrap > div .s5-left .s5-title-wrap { float:left; margin:80px 140px; }
#main #section5 .section5-wrap > div .s5-left .s5-title-wrap .s5-title1 { margin-bottom:140px; }
#main #section5 .section5-wrap > div .s5-left .s5-title-wrap .s5-title1 h2 { opacity:0; position:relative; bottom:-30px; font-size:16px; font-weight:bold; letter-spacing:1px; }

#main #section5 .section5-wrap > div .s5-left .s5-title-wrap .s5-title2 { opacity:0; position:relative; bottom:-50px; }
#main #section5 .section5-wrap > div .s5-left .s5-title-wrap .s5-title2 h3 { font-size:36px; color:#cd9a81; line-height:45px; }

#main #section5 .section5-wrap > div .s5-left .s5-title-wrap .s5-title3 { margin:30px 0; }
#main #section5 .section5-wrap > div .s5-left .s5-title-wrap .s5-title3 p { opacity:0; position:relative; bottom:-70px; font-size:18px; line-height:25px; }

#main #section5 .section5-wrap > div .s5-left .s5-title-wrap .s5Btn { opacity:0; position:relative; bottom:-50px; width:100%; padding-top:120px; }
#main #section5 .section5-wrap > div .s5-left .s5-title-wrap .s5Btn a { padding:20px 50px; font-size:15px; font-weight:bold; border:1px solid #6f6f6f; background:#282828; letter-spacing:1px; transition:all .6s; }
#main #section5 .section5-wrap > div .s5-left .s5-title-wrap .s5Btn a:hover { background:#6f6f6f; }


#main #section5 .section5-wrap > div .s5-right { float:left; width:55%; height:848px; }
#main #section5 .section5-wrap > div .s5-right .s5-img-wrap { position:relative; width:100%; height:100%; }
#main #section5 .section5-wrap > div .s5-right .s5-img-wrap .s5-img-back1 { z-index:1; position:absolute; bottom:0; left:0; margin-left:-180px; margin-bottom:240px; }
#main #section5 .section5-wrap > div .s5-right .s5-img-wrap .s5-img-back1 img { opacity:0; width:480px; }
#main #section5 .section5-wrap > div .s5-right .s5-img-wrap .s5-img-back2 { z-index:2; position:absolute; bottom:0; right:0; margin-bottom:321px; }
#main #section5 .section5-wrap > div .s5-right .s5-img-wrap .s5-img-back2 img { opacity:0; position:relative; bottom:-50px; width:780px; }
#main #section5 .section5-wrap > div .s5-right .s5-img-wrap .s5-img-front { z-index:3; position:absolute; bottom:0; right:0;  }
#main #section5 .section5-wrap > div .s5-right .s5-img-wrap .s5-img-front img { opacity:0; position:relative; bottom:-100px; width:100%; }




#main #section6 { width:100%; }
#main #section6 .section6-wrap { width:100%; max-width:1903px; height:930px; margin:0 auto; }
#main #section6 .section6-wrap > div { margin:100px 0; }
#main #section6 .section6-wrap > div .s6-left { float:left; width:65%; height:848px; }
#main #section6 .section6-wrap > div .s6-left .s6-img-wrap { position:relative; width:100%; height:100%; }
#main #section6 .section6-wrap > div .s6-left .s6-img-wrap .s6-img-back { z-index:1; position:absolute; bottom:0; margin-bottom:374px; }
#main #section6 .section6-wrap > div .s6-left .s6-img-wrap .s6-img-back img { opacity:0; position:relative; bottom:-50px; width:780px; }
#main #section6 .section6-wrap > div .s6-left .s6-img-wrap .s6-img-front { z-index:2; position:absolute; bottom:0;  }
#main #section6 .section6-wrap > div .s6-left .s6-img-wrap .s6-img-front img { opacity:0; position:relative; bottom:-100px; width:100%; }

#main #section6 .section6-wrap > div .s6-right { float:left; width:35%; height:848px; }
#main #section6 .section6-wrap > div .s6-right .s6-title-wrap { margin:80px 10px; }
#main #section6 .section6-wrap > div .s6-right .s6-title-wrap .s6-title1 { margin-bottom:140px; }
#main #section6 .section6-wrap > div .s6-right .s6-title-wrap .s6-title1 h2 { opacity:0; position:relative; bottom:-30px; font-size:16px; font-weight:bold; letter-spacing:1px; }

#main #section6 .section6-wrap > div .s6-right .s6-title-wrap .s6-title2 { opacity:0; position:relative; bottom:-50px;  }
#main #section6 .section6-wrap > div .s6-right .s6-title-wrap .s6-title2 h3 { font-size:36px; color:#cd9a81; line-height:45px; }

#main #section6 .section6-wrap > div .s6-right .s6-title-wrap .s6-title3 { margin:30px 0; }
#main #section6 .section6-wrap > div .s6-right .s6-title-wrap .s6-title3 p { opacity:0; position:relative; bottom:-50px; font-size:18px; line-height:25px; }

#main #section6 .section6-wrap > div .s6-right .s6-title-wrap .s6Btn { opacity:0; position:relative; bottom:-50px; width:100%; padding-top:120px; }
#main #section6 .section6-wrap > div .s6-right .s6-title-wrap .s6Btn a { padding:20px 50px; font-size:15px; font-weight:bold; border:1px solid #6f6f6f; background:#282828; letter-spacing:1px; transition:all .6s; }
#main #section6 .section6-wrap > div .s6-right .s6-title-wrap .s6Btn a:hover { background:#6f6f6f; }


#main #section7 { width:100%; }
#main #section7 .section7-wrap { width:100%; max-width:1903px; height:930px; margin:0 auto; }
#main #section7 .section7-wrap > div { margin:100px 0; }
#main #section7 .section7-wrap > div .s7-left { float:left; width:45%; height:848px; }
#main #section7 .section7-wrap > div .s7-left .s7-title-wrap { float:left; margin:80px 140px; }
#main #section7 .section7-wrap > div .s7-left .s7-title-wrap .s7-title1 { margin-bottom:140px; }
#main #section7 .section7-wrap > div .s7-left .s7-title-wrap .s7-title1 h2 { opacity:0; position:relative; bottom:-30px; font-size:16px; font-weight:bold; letter-spacing:1px; }

#main #section7 .section7-wrap > div .s7-left .s7-title-wrap .s7-title2 { opacity:0; position:relative; bottom:-50px; }
#main #section7 .section7-wrap > div .s7-left .s7-title-wrap .s7-title2 h3 { font-size:36px; color:#cd9a81; line-height:45px; }

#main #section7 .section7-wrap > div .s7-left .s7-title-wrap .s7-title3 { margin:30px 0; }
#main #section7 .section7-wrap > div .s7-left .s7-title-wrap .s7-title3 p { opacity:0; position:relative; bottom:-100px; font-size:18px; line-height:25px; }

#main #section7 .section7-wrap > div .s7-left .s7-title-wrap .s7Btn { opacity:0; position:relative; bottom:-50px; width:100%; padding-top:120px; }
#main #section7 .section7-wrap > div .s7-left .s7-title-wrap .s7Btn a { padding:20px 50px; font-size:15px; font-weight:bold; border:1px solid #6f6f6f; background:#282828; letter-spacing:1px; transition:all .6s; }
#main #section7 .section7-wrap > div .s7-left .s7-title-wrap .s7Btn a:hover { background:#6f6f6f; }


#main #section7 .section7-wrap > div .s7-right { float:left; width:55%; height:848px; }
#main #section7 .section7-wrap > div .s7-right .s7-img-wrap { position:relative; width:100%; height:100%; }
#main #section7 .section7-wrap > div .s7-right .s7-img-wrap .s7-img-back { z-index:1; position:absolute; bottom:0; right:0; margin-bottom:358px; }
#main #section7 .section7-wrap > div .s7-right .s7-img-wrap .s7-img-back img { opacity:0; position:relative; bottom:-50px; width:780px; }
#main #section7 .section7-wrap > div .s7-right .s7-img-wrap .s7-img-front { z-index:2; position:absolute; bottom:0; right:0;  }
#main #section7 .section7-wrap > div .s7-right .s7-img-wrap .s7-img-front img { opacity:0; position:relative; bottom:-100px; width:100%; }


#main #section8 { width:100%; }
#main #section8 .section8-wrap { width:100%; max-width:1903px; height:900px; margin:0 auto; }
#main #section8 .section8-wrap > div { margin:100px 0; }
#main #section8 .section8-wrap > div .s8-left { float:left; width:65%; height:848px; }
#main #section8 .section8-wrap > div .s8-left .s8-img-wrap { position:relative; width:100%; height:100%; }
#main #section8 .section8-wrap > div .s8-left .s8-img-wrap .s8-img-back { z-index:1; position:absolute; bottom:0; margin-bottom:374px; }
#main #section8 .section8-wrap > div .s8-left .s8-img-wrap .s8-img-back img { opacity:0; position:relative; bottom:-50px; width:780px; }
#main #section8 .section8-wrap > div .s8-left .s8-img-wrap .s8-img-front { z-index:2; position:absolute; bottom:0;  }
#main #section8 .section8-wrap > div .s8-left .s8-img-wrap .s8-img-front img { opacity:0; position:relative; bottom:-100px; width:100%; }

#main #section8 .section8-wrap > div .s8-right { float:left; width:35%; height:848px; }
#main #section8 .section8-wrap > div .s8-right .s8-title-wrap { margin:80px 10px; }
#main #section8 .section8-wrap > div .s8-right .s8-title-wrap .s8-title1 { margin-bottom:140px; }
#main #section8 .section8-wrap > div .s8-right .s8-title-wrap .s8-title1 h2 { opacity:0; position:relative; bottom:-30px; font-size:16px; font-weight:bold; letter-spacing:1px; }

#main #section8 .section8-wrap > div .s8-right .s8-title-wrap .s8-title2 { opacity:0; position:relative; bottom:-50px; }
#main #section8 .section8-wrap > div .s8-right .s8-title-wrap .s8-title2 h3 { font-size:36px; color:#cd9a81; line-height:45px; }

#main #section8 .section8-wrap > div .s8-right .s8-title-wrap .s8-title3 { margin:30px 0; }
#main #section8 .section8-wrap > div .s8-right .s8-title-wrap .s8-title3 p { opacity:0; position:relative; bottom:-70px; font-size:18px; line-height:25px; }

#main #section8 .section8-wrap > div .s8-right .s8-title-wrap .s8Btn { opacity:0; position:relative; bottom:-50px; width:100%; padding-top:120px; }
#main #section8 .section8-wrap > div .s8-right .s8-title-wrap .s8Btn a { padding:20px 50px; font-size:15px; font-weight:bold; border:1px solid #6f6f6f; background:#282828; letter-spacing:1px; transition:all .6s; }
#main #section8 .section8-wrap > div .s8-right .s8-title-wrap .s8Btn a:hover { background:#6f6f6f; }


#main #section9 { width:100%; }
#main #section9 .section9-wrap { width:100%; max-width:1903px; height:281px; margin:0 auto; }
#main #section9 .section9-wrap .s9-title-wrap { padding:120px 760px; }
#main #section9 .section9-wrap .s9-title-wrap h2 { float:left; font-size:36px; }
#main #section9 .section9-wrap .s9-title-wrap .s9Btn { position:relative; bottom:-50px; float:left; padding:10px; margin-left:70px; }
#main #section9 .section9-wrap .s9-title-wrap .s9Btn a { font-size:13px; border-bottom:1px solid rgba(255,255,255, .5); padding-bottom:10px; }


#main #section10 { width:100%; }
#main #section10 .section10-wrap { width:100%; max-width:1903px; height:737px; margin:0 auto; }
#main #section10 .section10-wrap > div { padding:50px 140px 0 140px; }
#main #section10 .section10-wrap > div .section10-left { opacity:1; position:relative; bottom:-60px; float:left; width:541px; }
#main #section10 .section10-wrap > div .section10-left > div { padding:20px 20px 10px 20px; }
#main #section10 .section10-wrap > div .section10-left > div .s10-left-img { margin-bottom:20px; }
#main #section10 .section10-wrap > div .section10-left > div .s10-left-img img { width:100%; }

#main #section10 .section10-wrap > div .section10-left > div .s10-left-contents { width:100%; }
#main #section10 .section10-wrap > div .section10-left > div .s10-left-contents h2 { font-size:20px; margin-bottom:35px; }
#main #section10 .section10-wrap > div .section10-left > div .s10-left-contents p { font-size:16px; margin-bottom:30px; line-height:25px; }

#main #section10 .section10-wrap > div .section10-center { opacity:1; position:relative; bottom:-60px; float:left; width:541px; }
#main #section10 .section10-wrap > div .section10-center > div { padding:20px 20px 10px 20px; }
#main #section10 .section10-wrap > div .section10-center > div .s10-center-img { margin-bottom:20px; }
#main #section10 .section10-wrap > div .section10-center > div .s10-center-img img { width:100%; }

#main #section10 .section10-wrap > div .section10-center > div .s10-center-contents { width:100%; }
#main #section10 .section10-wrap > div .section10-center > div .s10-center-contents h2 { font-size:20px; margin-bottom:35px; }
#main #section10 .section10-wrap > div .section10-center > div .s10-center-contents p { font-size:16px; margin-bottom:30px; line-height:25px; }

#main #section10 .section10-wrap > div .section10-right { opacity:1; position:relative; bottom:-60px; float:left; width:541px; }
#main #section10 .section10-wrap > div .section10-right > div { padding:20px 20px 10px 20px; }
#main #section10 .section10-wrap > div .section10-right > div .s10-right-img { margin-bottom:20px; }
#main #section10 .section10-wrap > div .section10-right > div .s10-right-img img { width:100%; }

#main #section10 .section10-wrap > div .section10-right > div .s10-right-contents { width:100%; }
#main #section10 .section10-wrap > div .section10-right > div .s10-right-contents h2 { font-size:20px; margin-bottom:35px; }
#main #section10 .section10-wrap > div .section10-right > div .s10-right-contents p { font-size:16px; margin-bottom:30px; line-height:25px; }


#main #section11 { width:100%; }
#main #section11 .section11-wrap { width:100%; max-width:1903px; margin:0 auto; }
#main #section11 .section11-wrap > div { padding:110px 0; }

#main #section11 .section11-wrap > div .s11-title { width:100%; padding-bottom:16px; }
#main #section11 .section11-wrap > div .s11-title h2 { opacity:0; position:relative; bottom:-50px; text-align:center; font-size:36px; }

#main #section11 .section11-wrap > div .s11-img { width:100%; height:65px; padding:15px 0; }
#main #section11 .section11-wrap > div .s11-img ul { position:relative; left:40%; margin-left:30px; }
#main #section11 .section11-wrap > div .s11-img ul li { float:left; }
#main #section11 .section11-wrap > div .s11-img ul li:nth-child(2) { margin:2.5px 0; }

#main #section11 .section11-wrap > div .s11-img ul li a.s11-facebook { opacity:0; position:relative; bottom:-50px; margin:10px 30px; width:45px; height:45px; background:url(../subimg/s11-facebook.png) no-repeat 50% 50%; background-size:cover; transition:all .6s; }
#main #section11 .section11-wrap > div .s11-img ul li a.s11-facebook.addFhover { background-image:url(../subimg/s11-facebook-hover.png); }

#main #section11 .section11-wrap > div .s11-img ul li a.s11-instagram { opacity:0; position:relative; bottom:-50px; margin:10px 30px; width:40px; height:40px; background:url(../subimg/s11-instagram.png) no-repeat 50% 50%; background-size:cover; transition:all .6s; }
#main #section11 .section11-wrap > div .s11-img ul li a.s11-instagram.addIhover { background-image:url(../subimg/s11-instagram-hover.png); }

#main #section11 .section11-wrap > div .s11-img ul li a.s11-youtube { opacity:0; position:relative; bottom:-50px; margin:10px 30px; width:50px; height:50px; background:url(../subimg/s11-youtube.png) no-repeat 50% 50%; background-size:cover; transition:all .6s; }
#main #section11 .section11-wrap > div .s11-img ul li a.s11-youtube.addYhover { background-image:url(../subimg/s11-youtube-hover.png); }

#main #section11 .section11-wrap > div .s11-img ul li:nth-child(3) a { margin:7.5px 30px; }



#footer { z-index:2; position:relative; width:100%; }

#footer .footer-row1 { width:100%; }
#footer .footer-row1 .footer-row1-wrap { width:100%; max-width:1903px; height:300px; margin:0 auto; }
#footer .footer-row1 .footer-row1-wrap > div { padding:65px 140px 0 140px; }
#footer .footer-row1 .footer-row1-wrap > div ul { width:100%; }
#footer .footer-row1 .footer-row1-wrap > div ul li { float:left; height:160px; padding-right:70px; margin-right:140px; border-bottom:1px solid rgba(255,255,255, .2); }
#footer .footer-row1 .footer-row1-wrap > div ul li:nth-child(1) { padding-right:10px; }
#footer .footer-row1 .footer-row1-wrap > div ul li:nth-child(2) { padding-right:10px; }
#footer .footer-row1 .footer-row1-wrap > div ul li:nth-child(4) { margin-right:0; }
#footer .footer-row1 .footer-row1-wrap > div ul li dl { float:left; margin-right:100px; }
#footer .footer-row1 .footer-row1-wrap > div ul li:nth-child(2) dl:nth-child(2) { margin-right:70px; }
#footer .footer-row1 .footer-row1-wrap > div ul li dl dt { font-size:16px; font-weight:bold; color:#cd9a81; padding-bottom:25px; letter-spacing:1px; }
#footer .footer-row1 .footer-row1-wrap > div ul li dl dd { padding-bottom:20px; }
#footer .footer-row1 .footer-row1-wrap > div ul li dl dd a { font-size:16px; }
#footer .footer-row1 .footer-row1-wrap > div ul li:nth-child(1) dl dd a { padding:4px 0; border-bottom:1px solid #fff; }
#footer .footer-row1 .footer-row1-wrap > div ul li:nth-child(3) dl dd a { padding:4px 0; border-bottom:1px solid #fff; }
#footer .footer-row1 .footer-row1-wrap > div ul li:nth-child(2) dl:nth-child(1) dd:nth-child(4) a { color:#cd9a81; font-weight:bold; }
#footer .footer-row1 .footer-row1-wrap > div ul li:nth-child(4) dl dd { float:left; margin-right:25px; }
#footer .footer-row1 .footer-row1-wrap > div ul li:nth-child(4) dl dd:nth-child(4) { margin-right:0; }
#footer .footer-row1 .footer-row1-wrap > div ul li:nth-child(4) dl dd img { width:18px; }

#footer .footer-row2 { width:100%; background:#f9f9f9; }
#footer .footer-row2 .footer-row2-wrap { position:relative; width:100%; max-width:1903px; height:100px; margin:0 auto; }
#footer .footer-row2 .footer-row2-wrap > div { padding:0 140px; }
#footer .footer-row2 .footer-row2-wrap > div .footer-row2-left { float:left; width:90%; height:100%; }
#footer .footer-row2 .footer-row2-wrap > div .footer-row2-left ul { padding:42px 0; }
#footer .footer-row2 .footer-row2-wrap > div .footer-row2-left ul li { float:left; margin-right:80px; }
#footer .footer-row2 .footer-row2-wrap > div .footer-row2-left ul li a { font-weight:bold; font-size:16px; color:#6f6f6f; }

#footer .footer-row2 .footer-row2-wrap > div .footer-row2-right { float:right; width:10%; height:100%; text-align:right; }
#footer .footer-row2 .footer-row2-wrap > div .footer-row2-right a.footer-row2Btn { font-size:16px; font-weight:bold; color:#6f6f6f; padding:42px 0 42px 50px; background:url(../img/footerbtn_off.png) no-repeat 20% 50%; transition:all 0.2s; }
#footer .footer-row2 .footer-row2-wrap > div .footer-row2-right a.footer-row2Btn.addFooterBtn { background-image:url(../img/footerbtn_on.png); }

#footer .footer-row2 .footer-row2-wrap > div .footer-row2-right .footer-sub { display:none; z-index:2; position:absolute; top:0; right:0; margin-right:120px; margin-top:-160px; width:121px; background:#f9f9f9; }
#footer .footer-row2 .footer-row2-wrap > div .footer-row2-right .footer-sub ul { width:100%; }
#footer .footer-row2 .footer-row2-wrap > div .footer-row2-right .footer-sub ul li { width:100%; text-align:center; }
#footer .footer-row2 .footer-row2-wrap > div .footer-row2-right .footer-sub ul li a { padding:32px 0; width:100%; font-size:16px; color:#6f6f6f; }

#footer .footer-row3 { width:100%; background:#fff; }
#footer .footer-row3 .footer-row3-wrap { width:100%; max-width:1903px; height:60px; margin:0 auto; }
#footer .footer-row3 .footer-row3-wrap > div { padding:18px 140px; }
#footer .footer-row3 .footer-row3-wrap > div > span { font-size:16px; color:#6f6f6f; }

